<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.myPostBar.postBar.mapper.TPostBarMapper">
	<select id="selectTypeNamePage" resultType="com.example.demo.myPostBar.postBar.entity.TPostBar">
		SELECT
		pb.id,
		pb.type_id,
		pb.title,
		pb.look_num,
		pb.like_num,
		pb.images,
		pb.user_id,
		pb.create_id,
		pb.create_date,
		pb.create_avatar,
		pb.content,
		pb.comment_num,
		pbt.NAME AS typeName,
			tu.score as score,
			tu.name as createName 
	FROM
		t_post_bar pb
		LEFT JOIN t_post_bar_type pbt ON pb.type_id = pbt.id
		 left join t_user tu on pb.create_id=tu.id	 ${ew.customSqlSegment}
	</select>
</mapper>
